.hero {
    background-color: whitesmoke;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
}

.hero-img-perfil {
    width: 200px;
    height: 200px;
    margin: 20px;
    
}