.about-me {
    height: 600px;
    padding: 10px;
    background-color: #1b2234;
}

.about-me .contenedor {
    max-width: 600px;
    text-align: center;   
}

.about-me-title {
    padding-left: 500px;
    padding-bottom: 100px;
}