.navbar {
    padding: 2rem;
    background-color: #bac9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-nav a {
    width: 100%;
    color: white;
    font-size: larger;
    font-style: italic;
    font-weight: 450;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}